.button1 {
	background-color: orangered;
	padding: 15px 20px;
	border-radius: 4px;
	color: lightyellow;
	font-weight: bold;
	font-family: 'Rajdhani', sans-serif;

}	
.button1:hover{
	background: -webkit-linear-gradient(#ffff33, #ff6600);
	color: white;
}
